/* 
<div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Your Name Here</a>.
  </div>

    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */

.color {
  font-family: 'Big Shoulders Display', cursive;
  font-family: 'Lexend Deca', sans-serif;
  color: hsl(31, 77%, 52%), hsl(184, 100%, 22%), hsl(179, 100%, 13%),
    hsla(0, 0%, 100%, 0.75), hsl(0, 0%, 95%);
}

/* general styling  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
}

.cards {
  color: hsla(0, 0%, 100%, 0.75);
  max-width: 375px;
  overflow: hidden;
  border-radius: 5px;
}

.card {
  padding: 1.2rem;
  padding-left: 1.7rem;
}

.card img {
  width: 40px;
}

.card h1 {
  font-family: 'Big Shoulders Display', 'cursive';
  font-size: 1rem;
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  padding: 0.7rem 0;
}

.card p {
  width: 230px;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.7rem;
  padding-right: 2.5rem;
  text-align: left;
  line-height: 1.4;
}

/* button style  */

.card button {
  border: transparent;
  margin-top: 0.7rem;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  font-size: 0.6rem;
}

.card button:hover {
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
  background-color: transparent;
}

/* sedan style  */
.orange-sedan {
  background-color: hsl(31, 77%, 52%);
}

.orange-sedan .btn {
  color: hsl(31, 77%, 52%);
}

/* suvs styling  */
.cyan-suvs {
  background-color: hsl(184, 100%, 22%);
}

.cyan-suvs .btn {
  color: hsl(184, 100%, 22%);
}

/* luxury styling */
.dark-luxury {
  background-color: hsl(179, 100%, 13%);
}

@media (min-width: 900px) {
  .cards {
    display: flex;
    max-width: 100%;
  }

  .card {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0 2rem 2rem;
  }

  .card p {
    padding-right: 3.4rem;
  }

  .card h1 {
    font-size: 1.5rem;
    padding: 1rem 0;
  }

  .card button {
    width: 50%;
    margin-top: 4rem;
    padding: 0.8rem 1.2rem;
  }
}
